*{
    margin: 0px;
    padding: 0px;
}

.grid-container{
    display: grid;
    width: 100%;
    height: 100vh;
    text-align: center;
    grid-template-areas: 
    "header header header header"
    "menu main main ad1"
    "ad2 main main ad1"
    "footer footer footer footer";
    gap: 10px;
}



.item-1{
    grid-area: header;
    background-color: yellow
}
.item-2{
    grid-area: menu;
    background-color: red;
    
}
.item-3{
    grid-area: ad2;
    background-color:aqua;
}
.item-4{
    grid-area: main;
    background-color: yellowgreen;
}
.item-5{
    grid-area: ad1;
    background-color: red;
}
.item-6{
    grid-area: footer;
    background-color: yellow;
}